.icons {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 100px;

    a {
        padding-right: 4%;
    }
}
