@mixin imageStyle {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: fill;
    background-blend-mode: darken;
    border-radius: 18px;
}

@mixin centeringStuff {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.ToAdd{
    background-color: rgba(3 72 107) !important;
    color: rgb(188, 221, 235) !important;
}


.catagoriesDiv {
    margin-top: 20px !important;
    height: fit-content !important;
    margin-bottom: 15vh !important;

    div {
        @include centeringStuff;
        height: 300px !important;
        margin-top: 39px !important;
    }

    .boogi {
        background: rgba(105, 102, 102, 0.6)
            url("../../../images/imagesWebp/5833ebaf95efefd0589ba275509092d0--the-beach-summer-vibes.webp");
        @include imageStyle();
        background-position: 0px -200px 15px 0;
    }

    .sup {
        background: rgba(105, 102, 102, 0.6) url("../../../images/imagesWebp/sup.webp");
        @include imageStyle();
        background-position: 1px -190px;
    }

    .soft {
        background: rgba(105, 102, 102, 0.6) url("../../../images/imagesWebp/soft.webp");
        @include imageStyle();
    }

    .manSwimsuit {
        background: rgba(105, 102, 102, 0.6) url("../../../images/imagesWebp/man.webp");
        @include imageStyle();
    }

    .womenSwimsuit {
        background: rgba(105, 102, 102, 0.6) url("../../../images/imagesWebp/women.webp");
        @include imageStyle();
    }
}

.manSwimsuitDiv {
    margin-left: 25% !important;
}

@media screen and (max-width: 900px) {
    .manSwimsuitDiv {
        margin-left: 0% !important;
    }
}

@media screen and (min-width: 400px) {
}
