.productsInCart{

}



.mainProductDiv {
    height: 200px;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(177, 205, 222);
    padding: 1.5%;
    -webkit-box-shadow: 1px 0px 12px -1px rgba(0, 0, 0, 0.88);
    box-shadow: 1px 0px 12px -3px rgba(0, 0, 0, 0.88);
    img {
        width: 30% !important;
    }
    .productInfo {
        display: flex;

        .productInfoSpecific {
            padding-left: 3%;
            font-weight: 600;
            .title{
                font-size: small;
            }
        }
    }
}


.deleteBtn{
display: flex;
justify-content: center;
align-items: center;
margin-right: 1.7%;

button{
    background-color: rgb(43, 41, 41) ;
    
    &:hover{
        background-color: rgb(94, 86, 86) !important;
    }
}
}
.buyBtn{
    margin: 30px 0 !important;
    width: 18%;
    font-size: large !important;
    background-color: #0F4C75 !important;


}