body {
    width: 90%;
    height: 100%;
    margin: auto;
    font-family: "Poppins", sans-serif;
    background-color: #e1ebf1;

    .nothing{
        display: none;
    }
}



a{
    text-decoration: none !important; 
    color: inherit !important;  
}