.container {
    background-color: rgb(251, 253, 255);
    width: 47%;
    margin: 40px auto;
    border-radius: 1px;

    .signUpHeader {
        text-align: center;
        padding-top: 5%;
        font-weight: 700;
        font-size: x-large;
        background: rgba(105, 102, 102, 0.6) url("../../../images/imagesWebp/backgroundImg2.webp");
        background-position: 0px;
        background-repeat: no-repeat;
        background-size: 106%;
        background-blend-mode: darken;
        width: 100%;
        height: 50px;
        color: rgb(251, 253, 255);
        border-radius: 1.8px;
    }

    #signUpForm {
        padding: 10%;
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .form {
            &:not(:last-child) {
                margin-bottom: 5%;
            }
        }
    }

    .instructionsDiv{
        padding: 4%;
        text-align: start;
    }

    .formActions {
        padding: 4%;
        display: flex;
        align-items: center;
        margin: auto;
        justify-content: center;

        button {
            background-color: #0f4c75;
            margin-bottom: 3%;
        }
    }

    .instructionsDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 558px) {
    .container {
        width: 79% !important;
    }
}
