.product-card{
    display: grid;
    height: 400px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 0 1.7%  ;


.product-image{
object-fit:contain ;

}

.product-title{
font-weight: 600;
}

.product-price{
font-weight: 700;
}


}
@media  screen and (max-width:500px){
    
}