.product-card {
    display: grid;
    width: 100%;
    height: 370px;
    align-items: center;
    justify-content: center;
    padding: 5px;

    .product-image {
        object-fit: contain;
    }

    .product-title {
        font-size: small;
    }
}

.priceAndSizeDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 0 !important;
    
    .product-price {
        padding-top: 8%;
        font-weight: 700;
    }
}

.card-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;

    .addToCartBtn {
        background-color: #0f4c75 !important;
    }
    .moreInfoButton {
        border-color: #0f4c75;
        color: #0f4c75;
        padding-bottom: 2%;
    }
}
