.Links{
    display: flex;
    justify-content: space-between;
}

.loading {
    margin: 110px auto;
    padding-left: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}