.Links{
    display: flex;
    justify-content: space-between;
}

.filterActions{
    margin-top: 50px;
    margin-bottom: 0;
}

.filterBtn{
    margin-right: 7% !important;
    background-color: rgba(3 72 107) !important;
    color: rgb(188, 221, 235) !important;
}

.loading {
    margin: 110px auto;
    padding-left: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}

