@mixin centeringStuff {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.surfingTodayDiv {
    margin: 40px auto;
    width: 85%;
    text-align: start;
    border: #4984ac 3px solid ; 
    padding: 1.9% 20px;
    border-radius: 1.3%;
    -webkit-box-shadow: 1px 0px 12px -1px rgba(0, 0, 0, 0.88);
    box-shadow: 1px 0px 12px -3px rgba(0, 0, 0, 0.88);

    .beachDetails {
        display: flex;
        justify-content: space-around;
        align-items: center;
        // flex-wrap: wrap;
        

        div {
            display: flex;
            text-align: center;
            align-items: center;
            flex-direction: column;
        }
            p{
                font-weight: 700;
            }
        .detail {
            width: 20%;
            height: 30%;
        }
    }
}

.HotNowDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        margin: 0;
    }
}
.forMore {
    display: flex;
    justify-content: end;
    button {
        border-color: #0f4c75;
        color: #0f4c75 !important;
    }
}

.catagoriesDiv {
    height: 350px;
    width: 250px;
    margin-top: 100px;
    div {
        @include centeringStuff;
        width: 60%;
        height: 90%;
        font-size: 150%;
        font-weight: 900;
        color: rgb(188, 221, 235);
    }
}

.community-container {
    margin-top: 6%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 300px;
    color: #fff;
    -webkit-box-shadow: 1px 0px 12px -1px rgba(0, 0, 0, 0.88);
    box-shadow: 1px 0px 12px -3px rgba(0, 0, 0, 0.88);

    background-position: center right;
    background-repeat: no-repeat;
    background-size: fill;
    background-blend-mode: darken;
    background-color: rgba(105, 102, 102, 0.6);
    background-image: url("../../images/community.jpg");

    button {
        background-color: #0f4c75;
    }
}

.details{
    color:#41adae;
    font-size: 23px;
}

.loading {
    margin: 110px auto;
    padding-left: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 548px) {
    .beachDetails {
        flex-wrap: wrap;


    }
}
